version: '3.1'

services:
  owncloud:
    image: owncloud
    restart: always
    ports:
      - ${OWNCLOUD_PORT}:80
    volumes:
      - /owncloud/owncould:/var/www/html
    networks:
      - ldap

  ownncloud_mysql:
    image: mariadb
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
    volumes:
      - /owncloud/mysql:/var/lib/mysql
